.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* full màn hình */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.login-page h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.login-page input {
  width: 250px;
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  margin-bottom: 15px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-page input::placeholder {
  color: #aaa;
}

.login-page button {
  width: 150px;
  padding: 10px 0;
  border-radius: 25px;

  font-size: 1rem;
  font-weight: bold;
  background-color: #ff8c00;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-page button:hover {
  background-color: #ffa500;
  transform: translateY(-2px);
}

.login-page input:focus {
  box-shadow: 0 0 0 2px #ff8c00;
}
